h2{
    text-align: center;
    color: rgb(235, 55, 46);
}

.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
#clock{
    background-color: #212121;
    display: flex;
    height: 60vh;
    width: 40%;
    justify-content: center;
    border-radius: 5rem;
    border: rgb(196, 13, 13) solid 8px;
    color: rgb(0, 213, 28);
    font-size: 3rem;
    align-items: center;
    box-shadow: greenyellow, yellow;
    
}



